<div class="footer">
    <div class="inner">
        &copy; OfniBot 2017 (CC0) <br>
        Built by <a href="http://artur99.net">Vultur David</a> &amp; <a href="http://facebook.com/iulian01mail">Vultur Iulian</a>,
        Intended for <a href="http://fiicode.com">FiiCode 2017</a>.
    </div>
</div>
