.emo{
    font-style: normal;
    font-size: 18px;
    line-height: inherit;
    vertical-align: middle;
    line-height: 15px;
    margin-top: -3px;
    display: inline-block;
}
.emo.happy1:before{
    content: '\1F601';
}
.emo.togue1:before{
    content: '\1F60B';
}
