input.input-field:not([type]):focus:not([readonly]), input.input-field[type=text]:focus:not([readonly]), input.input-field[type=password]:focus:not([readonly]), input.input-field[type=email]:focus:not([readonly]), input.input-field[type=url]:focus:not([readonly]), input.input-field[type=time]:focus:not([readonly]), input.input-field[type=date]:focus:not([readonly]), input.input-field[type=datetime-local]:focus:not([readonly]), input.input-field[type=tel]:focus:not([readonly]), input.input-field[type=number]:focus:not([readonly]), input.input-field[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #3084FF;
    box-shadow: 0 1px 0 0 #3084FF;
}
input.input-field:not([type]).valid, input.input-field:not([type]):focus.valid, input.input-field[type=date].valid, input.input-field[type=date]:focus.valid, input.input-field[type=datetime-local].valid, input.input-field[type=datetime-local]:focus.valid, input.input-field[type=datetime].valid, input.input-field[type=datetime]:focus.valid, input.input-field[type=email].valid, input.input-field[type=email]:focus.valid, input.input-field[type=number].valid, input.input-field[type=number]:focus.valid, input.input-field[type=password].valid, input.input-field[type=password]:focus.valid, input.input-field[type=search].valid, input.input-field[type=search]:focus.valid, input.input-field[type=tel].valid, input.input-field[type=tel]:focus.valid, input.input-field[type=text].valid, input.input-field[type=text]:focus.valid, input.input-field[type=time].valid, input.input-field[type=time]:focus.valid, input.input-field[type=url].valid, input.input-field[type=url]:focus.valid, textarea.materialize-textarea.valid, textarea.materialize-textarea:focus.valid{
    border-bottom: 1px solid #4CAF50;
    box-shadow: 0 1px 0 0 #4CAF50;
}
input.input-field:not([type]).invalid, input.input-field:not([type]):focus.invalid, input.input-field[type=date].invalid, input.input-field[type=date]:focus.invalid, input.input-field[type=datetime-local].invalid, input.input-field[type=datetime-local]:focus.invalid, input.input-field[type=datetime].invalid, input.input-field[type=datetime]:focus.invalid, input.input-field[type=email].invalid, input.input-field[type=email]:focus.invalid, input.input-field[type=number].invalid, input.input-field[type=number]:focus.invalid, input.input-field[type=password].invalid, input.input-field[type=password]:focus.invalid, input.input-field[type=search].invalid, input.input-field[type=search]:focus.invalid, input.input-field[type=tel].invalid, input.input-field[type=tel]:focus.invalid, input.input-field[type=text].invalid, input.input-field[type=text]:focus.invalid, input.input-field[type=time].invalid, input.input-field[type=time]:focus.invalid, input.input-field[type=url].invalid, input.input-field[type=url]:focus.invalid, textarea.materialize-textarea.invalid, textarea.materialize-textarea:focus.invalid{
    border-bottom: 1px solid #F44336;
    box-shadow: 0 1px 0 0 #F44336;
}
input.input-field:not([type]).invalid+label, input.input-field:not([type]):focus.invalid+label, input.input-field[type=date].invalid+label, input.input-field[type=date]:focus.invalid+label, input.input-field[type=datetime-local].invalid+label, input.input-field[type=datetime-local]:focus.invalid+label, input.input-field[type=datetime].invalid+label, input.input-field[type=datetime]:focus.invalid+label, input.input-field[type=email].invalid+label, input.input-field[type=email]:focus.invalid+label, input.input-field[type=number].invalid+label, input.input-field[type=number]:focus.invalid+label, input.input-field[type=password].invalid+label, input.input-field[type=password]:focus.invalid+label, input.input-field[type=search].invalid+label, input.input-field[type=search]:focus.invalid+label, input.input-field[type=tel].invalid+label, input.input-field[type=tel]:focus.invalid+label, input.input-field[type=text].invalid+label, input.input-field[type=text]:focus.invalid+label, input.input-field[type=time].invalid+label, input.input-field[type=time]:focus.invalid+label, input.input-field[type=url].invalid+label, input.input-field[type=url]:focus.invalid+label, textarea.materialize-textarea.invalid+label, textarea.materialize-textarea:focus.invalid+label{
    color: #F44336!important;
}


input.input-field:not([type]):focus:not([readonly]) + label, input.input-field[type=text]:focus:not([readonly]) + label, input.input-field[type=password]:focus:not([readonly]) + label, input.input-field[type=email]:focus:not([readonly]) + label, input.input-field[type=url]:focus:not([readonly]) + label, input.input-field[type=time]:focus:not([readonly]) + label, input.input-field[type=date]:focus:not([readonly]) + label, input.input-field[type=datetime-local]:focus:not([readonly]) + label, input.input-field[type=tel]:focus:not([readonly]) + label, input.input-field[type=number]:focus:not([readonly]) + label, input.input-field[type=search]:focus:not([readonly]) + label, textarea.materialize-textarea:focus:not([readonly]) + label {
    color: #3084FF;
}
.input-field label.active{
    width: 100%;
}
[type=checkbox]:checked+label:before {
    border-right-color: #3084FF;
    border-bottom-color: #3084FF;
}
input.input-field:not([type]), input.input-field[type=text], input.input-field[type=password], input.input-field[type=email], input.input-field[type=url], input.input-field[type=time], input.input-field[type=date], input.input-field[type=datetime], input.input-field[type=datetime-local], input.input-field[type=tel], input.input-field[type=number], input.input-field[type=search], textarea.materialize-textarea{
	line-height: 2.6rem;
    height: 2.6rem;
}
.file-field .btn, .file-field .btn-large{
    font-size: 15px;
    height: 2.6rem;
    line-height: 2.6rem;
}
#toast-container{
    left: 8%;
    right: auto;
}
.wtxt{
    color: rgba(255,255,255,0.9);
}
.btn.white{
    color: rgba(0,0,0,.9);
}
.row .ma{
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.btn .preloader-wrapper.small{
    width: 30px;
    height: 30px;
    margin-top: 11px;
}
#materialPreloader{
    box-shadow: 0 0 1px rgba(0,0,0,.3);
}
.flex{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}
@media(max-width: 500px){
        .modal-content .row .col{
            padding: 0;
        }
}
.hide{
    display: none;
}
.cfx.yellow{
    color: #333!important;
}
.tabs .tab a{
    color: #f44336;
}
.tabs .tab a:hover {
    color: rgba(244,67,54,0.7);
}
.tabs .indicator{
    background: rgba(244,67,54,0.4);
}
#materialPreloader{
    z-index: 22;
}
.modal.open{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex!important;
    overflow-y: hidden;
}
.modal.open .modal-content{
    overflow-y: auto;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    -o-flex: 1;
    flex: 1;
    margin-bottom: 56px;
}
.modal.open .modal-footer{
    position: fixed;
    bottom:0;
    left:0;
}
.card .card-footer{
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    padding: 20px;
}
.material-icons{
    display: inline;
    vertical-align: bottom;
    font-size: inherit;
    line-height: inherit;
}
.clear{
    clear: both;
}
.tar{
    text-align: right;
}
.tac{
    text-align: center;
}
.trumbowyg-box, .trumbowyg-editor{
    margin-top: 5px;
}
*{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
