<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'part/head.twig' %}
</head>
<body>
    <div class="sec1 v2">
        <div class="inner">
            <!-- <div class="topline">
                <a href="#" class="logo">SmartyIndex</a>
                <div class="menu1">

                </div>
            </div> -->
            <div class="cont">
                <div class="chatbase z-depth-1">
                    <div class="chatinfo">
                        <a href="" class="chattop chattoplogo">
                            <i class="material-icons left">&#xE5CB;</i>
                            {{title}}
                        </a>
                        <div class="chatbody">
                            aa
                        </div>
                    </div>
                    <div class="chatmain">
                        <div class="chattop">
                            <a href="#" class="topbtn tooltipped" title="About us">
                                <!-- data-position="bottom" data-tooltip="About us" -->
                                <i class="material-icons">&#xE87F;</i>
                            </a>
                            <a href="#" class="topbtn tooltipped" id="helpnsend" title="How to use the bot?">
                                <i class="material-icons">&#xE887;</i>
                            </a>
                        </div>
                        <div class="chatbody" id="chatdata">
                            <!-- Hello! My name is AK9Robot. How can I help you? :) -->
                            <!-- My name is Ak9Bot. May I also know yours? <em class="emo togue1"></em> It's up to you. So that you may not want to tell it to me. -->
                            <!-- My name is Ak9Bot. Thank you for telling me your name. I'm happy to meet you. <em class="emo happy1"></em> -->
                        </div>
                        <div class="chatinput">
                            <div class="thinking">Please wait, the robot is thinking</div>
                            <form action="" id="chatform">
                                <a href="#" class="material-icons" id="attachico">&#xE439;</a>
                                <input type="file" class="hide" id="attachinput">
                                <input type="text" class="chatmsginput" placeholder="Type your message...">
                                <button type="submit" class="material-icons" id="sendico">&#xE163;</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="graph1 v2"></div>
    <div class="dropover"></div>
    {% include 'part/scripts.twig' %}
</body>
</html>
