<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'part/head.twig' %}
</head>
<body class="appbody">
    <div id="fb-root"></div> <script>(function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));</script>
    <div class="sec1 v2">
        <div class="inner">
            <!-- <div class="topline">
                <a href="#" class="logo">SmartyIndex</a>
                <div class="menu1">

                </div>
            </div> -->
            <div class="cont">
                <div class="chatbase z-depth-1">
                    <div class="chatinfo">
                        <a href="{{l('/')}}" class="chattop chattoplogo">
                            <i class="material-icons left">&#xE5CB;</i>
                            {{appname}}
                        </a>
                        <div class="chatbody">
                            <div>
                            <img src="{{asset('images/logo3.png')}}" class="boxedlogo">
                            <p class="txtltl">
                                Hello! &#x1F601;
                            </p>
                            <div class="fb-share-button" data-href="http://stackoverflow.com/questions/27621187/invalid-version-specified-facebook-share-plugin-error" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fstackoverflow.com%2Fquestions%2F27621187%2Finvalid-version-specified-facebook-share-plugin-error&amp;src=sdkpreparse">Share</a></div>

                            <p class="txtltl2">
                                Welcome! This is a free Open Source project under CC0.<br>
                            </p>
                            </div>
                        </div>
                    </div>
                    <div class="chatmain">
                        <div class="chattop">
                            <a href="{{l('/about')}}" class="topbtn tooltipped" href="_blank" title="About us">
                                <!-- data-position="bottom" data-tooltip="About us" -->
                                <i class="material-icons">&#xE87F;</i>
                            </a>
                            <a href="#" class="topbtn tooltipped" id="helpnsend" title="How to use the bot?">
                                <i class="material-icons">&#xE887;</i>
                            </a>
                        </div>
                        <div class="chatbody" id="chatdata">
                            <!-- Hello! My name is AK9Robot. How can I help you? :) -->
                            <!-- My name is Ak9Bot. May I also know yours? <em class="emo togue1"></em> It's up to you. So that you may not want to tell it to me. -->
                            <!-- My name is Ak9Bot. Thank you for telling me your name. I'm happy to meet you. <em class="emo happy1"></em> -->
                        </div>
                        <div class="chatinput">
                            <div class="thinking">Please wait, the robot is thinking</div>
                            <form action="" id="chatform">
                                <a href="#" class="material-icons" id="attachico">&#xE439;</a>
                                <input type="file" class="hide" id="attachinput">
                                <input type="text" class="chatmsginput" placeholder="Type your message...">
                                <button type="submit" class="material-icons" id="sendico">&#xE163;</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="graph1 v2"></div>
    <div class="dropover"></div>
    {% include 'part/scripts.twig' %}
</body>
</html>
