<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'part/head.twig' %}
</head>
<body>
    <div class="sec1">
        <div class="inner">
            <div class="topline">
                <a href="#" class="logo">SmartyIndex</a>
                <div class="menu1">

                </div>
            </div>

        </div>
    </div>
    <div class="graph1">

    </div>
    {% include 'part/scripts.twig' %}
</body>
</html>
